*.png
temp.dot
IOnowy.vcxproj
IOnowy.vcxproj.filters
IOnowy.vcxproj.user
Debug/
release/
Testy/Debug/
Testy/x64
Testy/Release
Testy/IOProjekt.sln
Testy/IOProjektTest/Debug/
Testy/IOProjektTest/Release/
Testy/IOProjektTest/x64
Testy/IOProjektTest/IOProjektTest.vcxproj
Testy/IOProjektTest/IOProjektTest.vcxproj.user
Testy/.vs/